<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Auction</title>
</head>
<body <% unless session[:is_logged] %> onload="openLoginModal()"<% end %> >

<%= render 'form' %>

</body>
</html>