<div class="new-offer-box">

  <div class="form-group">
    <h3> New Offer: </h3>
    <br>

    <%= form_with(model: [@auction, @auction.offers.new], local: true) do |form| %>


      <%= form.text_field :bidder_email, :class => "form-control", :placeholder => "Email address" %> <br>

      <%= form.text_area :body, :class => "form-control", :placeholder => "Description" %> <br>
      <% if session[:is_logged] %>
        <%= form.submit :class => "btn btn-success btn-lg btn-create-offer" %>
      <% end %>


    <% end %>
    <% unless session[:is_logged] %>
      <button onclick="openLoginModal()" class="btn btn-primary"> Login to make an offer!</button>
    <% end %>
  </div>

</div>