<% if offer.auction.user_id == session[:logged_user_id] || offer.user_id == session[:logged_user_id] %>
  <div class="offer-box">

    <strong> Bidder:</strong>
    <%= User.find(offer.user_id).email %><br/>
    <br>

    <% begin
         offer.offer_document.nil?     %>
      <%= link_to offer.offer_document.filename, offer.offer_document, :class => "btn btn-outline-info" %>
      <br/>
    <% rescue %>
      <div style="color:red"><strong>No file attached.</strong></div>
      <br>
    <% end %>

    <div class="media-body">
      <% unless @user.nil? %>
        <% if session[:logged_user_id] == @user.id %>
          <div>
            <%= link_to "Confirm Offer",
                        [offer.auction, offer],
                        method: :put,
                        :class => "btn btn-success offer-confirm-button" %>


            <%= link_to 'Delete', [offer.auction, offer],
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        :class => "btn btn-danger offer-delete-button" %>
          </div>
        <% end %>
      <% end %>
    </div>
    </ul>
  </div>
<% end %>
